@import iht.constants.IhtProperties

@(name: String)
@{
    val nameArr = name.split(" ");
    var restrictName: Boolean = false;
    for (namePart <- nameArr) {
        var subparts = namePart.split("-")
        for (subpart <- subparts) {
            if(subpart.length > IhtProperties.hyphenateNamesLength){
                restrictName = true;
            }
        }
    }
    if(restrictName){
        <span class="copy--restricted" style="background-color: blue; color: white; font-weight: 700">{name}</span>
    } else {
        name
    }
}
