@(navTitle: Option[String],
        navTitleLink: Option[play.api.mvc.Call],
        showBetaLink: Boolean,
        navLinks: Option[Html])

@if(navTitle.isDefined || navLinks.isDefined || showBetaLink) {
    <div class="header-proposition">
        <div class="content">
            <nav id="proposition-menu" class="header__menu" role="navigation">

                @if(navTitleLink.isDefined) {
                    <a href="@navTitleLink" class="header__menu__proposition-name">@navTitle</a>
                } else {
                    <span class="header__menu__proposition-name">@navTitle</span>
                }

                @if(showBetaLink) {
                    <a href="https://www.gov.uk/service-manual" class="phase-tag beta">Beta</a>
                }

                @if(navLinks.isDefined) {
                    <ul id="proposition-link" class="header__menu__proposition-links">
                    @navLinks
                    </ul>
                }

            </nav>
        </div>
    </div>
}