* {
box-sizing: border-box;
}

/*
====================================
Fixes native-enforcing of date field for date-of-birth fields
as IHT does not implement native date inputs
====================================
*/
.touchevents .date-of-birth {
    display:block;
}



/*
====================================
Work-around for issue on iOS VoiceOver with AFE version of visuallyhidden
https://github.com/hmrc/assets-frontend/issues/727
====================================
*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@media (min-width: 641px) {
    .content__body {
        float: none;
        width: auto;
    }
    .sidebar {
        float: none;
        width: auto;
        margin: 30px 0 0 0;
    }
}
@media (min-width: 741px) {
    .content__body {
        float: left;
        width: 61.666667%;
    }
    .sidebar {
        float: right;
        width: 33.333333%;
        margin: 0;
    }
}