* {
box-sizing: border-box;
}

/*
====================================
Fixes native-enforcing of date field for date-of-birth fields
as IHT does not implement native date inputs
====================================
*/
.touchevents .date-of-birth {
    display:block;
}



/*
====================================
Work-around for issue on iOS VoiceOver with AFE version of visuallyhidden
https://github.com/hmrc/assets-frontend/issues/727
====================================
*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@media (min-width: 641px) {
    .content__body {
        float: none;
        width: auto;
    }
    .sidebar {
        float: none;
        width: auto;
        margin: 30px 0 0 0;
    }
}
@media (min-width: 841px) {
    .content__body {
        float: left;
        width: 61.666667%;
    }
    .sidebar {
        float: right;
        width: 33.333333%;
        margin: 0;
    }
}

/*
====================================
Fix placement of service name
====================================
*/
@media (min-width: 769px) {
   #global-header.with-proposition .header-wrapper .header-global {
    width: 25%;
  }
   #global-header.with-proposition .header-wrapper .header-proposition {
    width: 75%;
  }
}
@media (min-width: 800px){
    #global-header .header-proposition #proposition-links {
        width: 100%;
    }
}
@media (min-width: 920px){
    #global-header .header-proposition #proposition-links {
        width: auto;
    }
}
.header__menu__proposition-name {
    padding-right: 20px;
}

/*
====================================
Welsh/English language selector
====================================
*/
.translate {
  margin: 0;
}
.translate + .content__body h1 {
  margin-top: 0.8em;
}