/*
==================================
Allows butting up of sections
==================================
*/
.section--top-tight {
  padding-top: 0;
}

/*
====================================
Allows content inside a shaded box line up with adjacent copy
====================================
*/
.box--shaded--wide {
    margin-left: -15px;
    margin-right: -15px;
}
