//See https://github.com/alphagov/govuk_elements/issues/221

// Show the summary arrow in Firefox
// The current Firefox implementation uses display: list-item to show the arrow marker.
// We want to use display: inline-block to shrink-wrap the focus outline around the text.
// This will turn off inline-block for Firefox only.
// @-moz-document is going away: https://bugzilla.mozilla.org/show_bug.cgi?id=1035091 .
// Hopefully they’ll fix <summary> first but if not it’ll fall back to no arrow:
// https://bugzilla.mozilla.org/show_bug.cgi?id=1270163
// If Mozilla add display: revert and remove list-item from summary then this will fall through.
@-moz-document regexp('.*') {
  details summary:not([tabindex]) {
    display: list-item;
    display: revert;
  }
}


// remove external link indicator following its removal from template
a[rel="external"]:after {
    content: none;
}

#content a[id] {position: relative}

#content a[id]:not(.button):before {
    content: "";
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
    border-bottom-width: 0.75em;
    border-right-color: red;
    position: absolute;
    top: 0.25em;
    right: -0.75em;
    border-top-width: 0.75em;
}
#content a[id]:not(.button):after {
    content: attr(id);
    background: red;
    color: white;
    position: absolute;
    right: -11em;
    width: 10em;
    top: 0.25em;
    padding: 2px;
}