/*
====================================
this fixes a specificity issue with content__body p selectors
see https://github.com/hmrc/assets-frontend/issues/676
====================================
*/
p.lede {
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
}
/*replicate font-xsmall due to ".content p" rule*/
p.font-xsmall{
  font-family:"nta",Arial,sans-serif;
  font-size:16px;
  line-height:1.25;
  font-weight:300;
  text-transform:none
}
@media (max-width: 640px){
  p.font-xsmall{
    font-size:14px;
    line-height:1.14286
    }
}

/*
Adjustment for smaller h1 headings created by name sizing
*/
.legend-with-heading .heading-large,
.content__body > .heading-large:first-child {
    margin-top: 1em;
}


/*
====================================
Restricts heading to lower size when character limit is reached
prevents long names from overrunning bounds of layout
nested spans are reverted to normal wrapping state
====================================
*/
.copy--restricted {
    word-wrap: break-word; /* old version of overflow-wrap for IE and Edge and FF < 49*/
    overflow-wrap: break-word; /* modern */
    /* hyphens is not supported on Chrome < 55 or Opera and misc mobile browsers */
    -webkit-hyphens: auto;
    -ms-hyphens: auto; /* ie10+ */
    -moz-hyphens: auto;
    hyphens: auto;
}
.bold > .copy--restricted {
    font-weight: 700;
}

/*
Fix to override '.tabular-data__entry *'
*/
.bold > .copy--restricted {
    font-weight: inherit;
}

/*
fix for browsers which don't support hyphens but can understand this syntax
(i.e. Chrome < 55 and Android)
restricted to here as it doesn't give as nice a break as break-word
*/
@supports not((hyphens: auto) or (-moz-hyphens: auto) or (-ms-hyphens: auto) or (-webkit-hyphens: auto)) {
    .copy--restricted {
        word-break: break-all;
    }
}

/*
polyfill to support browsers which do not support inline element wrapping (IE < 10)
The element assigned with this class is generated by js
This is as lower IE's need a display: block to generate breaks and the use case means copy--restricted is applied to an inline element
*/
.copy--restricted-wrapper {
    word-wrap: break-word;
    word-break: break-all;
    display: block;
}

/*
reduce top margin on Get Help With This Page to allow N
*/
#content > .report-error {
    margin-top: 0;
}