//Added to support _tables.scss

// Standard palette, greys
$grey-1: #6f777b;
$grey-2: #bfc1c3;


// Semantic colour names
$border-colour: $grey-2;          // Borders, seperators, rules, keylines etc.
