@import 'partials/_variables';
@import 'partials/_base';

@import 'partials/_forms';
@import 'partials/_buttons';
@import 'partials/_tables';
@import 'partials/_grid';
@import 'partials/_sections';
@import 'partials/_tabular-data';
@import 'partials/_typography';
@import 'partials/_country-dropdown';
@import 'partials/_status';
@import 'partials/_timeout-dialog';

@import 'partials/_utilities';

@import 'partials/_shame';



.full-width-panel-wrapper {
    display: none;
    background-color: #005ea5;
    color: #fff;

    #panel-container {
        padding-bottom: 20px;
        padding-top: 20px;
        position: relative;

        a {
            color: #fff;
        }

        .panel-title {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .close-panel {
            color: #fff;
            font-size: 14px;
            position: absolute;
            right: 15px;
            top: 10px;
        }

        .external-link-warning {
            display: inline-block;
            font-size: 14px;
        }
    }

}

@media (min-width: 641px) {
    .full-width-panel-wrapper {
        #panel-container {
            .close-panel {
                right: 35px;
            }
        }
    }
}
