@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html._
@import iht.views.html._
@import iht.constants.FieldMappings
@import iht.constants.Constants._
@import iht.constants.IhtProperties._
@import uk.gov.hmrc.play.partials.FormPartialRetriever

@(form: Form[Option[String]])(implicit request:Request[_], messages: Messages, ihtFormPartialRetriever: FormPartialRetriever)

@iht_main_template_registration(title = Messages("page.iht.filter.jointlyowned.question"),
    browserTitle = Some(Messages("page.iht.filter.jointlyowned.question")),
    isFullWidth = false,
    hasSignOut = false,
    hasTimeOut = false) {

    @helpers.form(action = iht.controllers.filter.routes.FilterJointlyOwnedController.onSubmit,'autoComplete -> "off") {

        <p>@Html(Messages("page.iht.filter.jointlyowned.guidance"))</p>

        @ihtHelpers.custom.error_summary(form)

        @ihtHelpers.standard.input_radio_group(
            form("filter-jointly-owned"),
            FieldMappings.filterJointlyOwnedChoices.toSeq,
            '_legendClass -> "visually-hidden",
            '_legend -> Html(Messages("page.iht.filter.jointlyowned.question")),
            '_groupClass -> "form-group",
            '_labelClass -> "block-label radio-label",
            '_labelTextClass -> "form-label-bold",
            '_labelAfter -> false)

        <div id="continue-button" class="subsection">
            <input id='continue' class='button' type='submit' value='@Messages("iht.continue")'>
        </div>

        @previous_answers(Messages("iht.countries.englandOrWales"))
    }
}
